* {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    background-color: #10B981;
    color: white;
    height: 45px;
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 0.4rem;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

button:hover {
    opacity: 0.85;
}

button:active {
    background-color: #0c8d62;
}

.text {
    font-size: 19px;
    margin-left: 2px;
    font-weight: 100;
    margin-top: 30px;
}

hr {
    height: 1px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    margin: 12rem auto;
    background-color: #273549;
    height: 45rem;
    width: 50rem;
    border-radius: 0.6rem;
    overflow: hidden;
}

.passwords {
    
    display: flex;
    margin: 30px 0px;
    gap: 1.5rem;
    color: #10B981;
    font-weight: bold;
    
}
.password1 {
    height: 35px;
    width: 500px;
    background-color: #394e6b;
    border-radius: 0.2rem;
    text-align: center;
    padding: 7px 4px;
    font-size: 16px;

}

.password2 {
    height: 35px;
    width: 500px;
    background-color: #394e6b;
    border-radius: 0.2rem;
    text-align: center;
    padding: 7px 4px;
    font-size: 16px;
}

.header-top {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: bolder;
    
}

.header-bottom {
    font-size: 60px;
    color: #10B981;
    line-height: 30px;
    font-weight: bolder;
}

.bottom-part {
    padding-top: 100px;
}

